# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Local .terraform directories
**/.terraform/*
.terraform

# Ignore Terraform lock file
terraform.lock.hcl

.terraform/providers/registry.terraform.io/hashicorp/aws/5.43.0/darwin_arm64/terraform-provider-aws_v5.43.0_x5
jenkins_ec2/.terraform/providers/registry.terraform.io/hashicorp/aws/5.43.0/darwin_arm64/terraform-provider-aws_v5.43.0_x5 

# Ignnore terraform.tfvars
terraform.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json